<!DOCTYPE html>
<html lang="en" ng-app="UploadApp">

<head>
    <title>Demo File Upload</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <!-- Load the controller -->
    <div class="container" ng-controller="UploadCtrl as uploadCtrl">

        <!-- S3 -->
        <form name="UploadForm" novalidate ng-submit="uploadCtrl.upload()">
            <h1>S3 File Upload</h1>
                
            <img ngf-thumbnail="uploadCtrl.imgFileS3" height="100"><br />
            <div ng-show="uploadCtrl.imgFileS3">
                <span>{{uploadCtrl.imgFileS3.size}} in bytes </span>
            </div>

            <div class="form-group">
            <!-- Select file to upload. Single file only. Accepts only images-->
            <input id="file" 
                type="file" 
                ng-model="uploadCtrl.imgFileS3" 
                ngf-select 
                ngf-pattern="'image/*'" 
                ngf-accept="'image/*'">
            <br><br>
            <button type="submit" class="btn btn-success" ng-disabled="UploadForm.$invalid">Upload</button>
            </div>
            <!-- Success and error flash messages. Logic based on status code returned after POST request -->
            <div class="alert" role="alert" alert-dismissable ng-show="uploadCtrl.status.code" ng-class="{'alert-success': uploadCtrl.status.code == 202, 'alert-danger': uploadCtrl.status.code == 400 }">
                <button class="close" data-dismiss="alert">
                    <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
                    &times;
                </button> 
                {{ uploadCtrl.status.message }}
            </div>
            <img ng-src="{{uploadCtrl.imageFromS3}}" alt="Description" />
            {{uploadCtrl.imageFromS3}}
        </form>

    </div>
</body>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="app/app.module.js"></script>
    <script type="text/javascript" src="app/upload/upload.controller.js"></script>
</html>